$color--middle-purple: #d286ae;
$color--lavender-blush: #efe1e8;
$color--white: #fffdfd;
$color--black: #000000;
$color--dark-violet: #765e97;
$color--light-gray: #cbd2d0;
$color--heliotrope-gray: #aaa0b8;
$color--heliotrope-gray-2: #b2a9be;