@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
		p {
			text-align: start;
		}
	}
}
@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
		p {
			text-align: start;
		}
	}
}
@media screen and (min-width: 768px) {
	nav {
		li {
			grid-template-columns: 100%;
			grid-template-rows: auto;
			grid-gap: 1em;
		}
	}
	.gridVideos {
		display: grid;
		justify-content: space-evenly;
		width: 100%;
	}
	.header-logo {
		width: 100%;
	}
}
@media screen and (min-width: 320px) {
	nav {
		li {
			grid-template-columns: 20%;
			grid-template-rows: auto;
			grid-gap: 1em;
		}
	}
	.logo {
		width: 100%;
	}
}
